$navyPrimary: #141846 !default;
$indigoPrimary: #4137cb !default;
$yellowPrimary: #f4e46c !default;
$whitePrimary: #ffffff !default;

$magentaSecondary: #ea3e58 !default;
$orangeSecondary: #fcb568 !default;
$tealSecondary: #9bd5bd !default;
$limeSecondary: #d3f08d !default;
